.rate-background{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(126, 121, 121, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.rate{
    width: 60%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}